@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Quicksand:wght@300..700&display=swap');

:root{
    --text-clr: rgb(71, 70, 70);
    --secondary-text-clr: rgb(97, 97, 97);
    --heading-text-clr: rgb(46, 46, 46);
    --accent-clr: rgb(173, 216, 230);
    --box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
    --box-shadow-down: 7px 10px 14px rgba(0, 0, 0, 0.1);
    --blur-background: blur(10px);
    --blur-backgrond-clr: rgba(173, 216, 230, 0.2);
    --dark-blur-backgrond-clr: rgba(0, 191, 255, 0.637);
    --nav-clr: rgb(86, 190, 224);
}

*{
    margin: 0;
    padding: 0;
}

html{
    font-size: 12pt;
    font-family: "Playfair Display", 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body{
    /* background-color: var(--accent-clr); */
    background: rgb(210,229,231);
    background: linear-gradient(184deg, rgba(210,229,231,1) 0%, rgba(180,236,255,1) 53%, rgba(55,182,223,1) 100%);
    background-size: contain;
    background-attachment: fixed;
}

/* button styles */
.button-style {
    padding: 10px 30px;
    margin-left: 10px;
    border-radius: 50px;
    border: none;
    background-color: var(--accent-clr);
    cursor: pointer;
    transition: all 0.2s linear;
}
.button-hover:hover{
    margin-bottom: 10px;
    box-shadow: var(--box-shadow-down);
}
.button-active:active{
    scale: 0.95;
}


/* HEADER */
header{
    position: relative;
    padding: 0 5rem;
}

nav{
    padding: 10px;
    /* border: 1px solid black; */
    height: 60px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: var(--nav-clr);
    border-radius: 0px 0 30px 30px;
}

.place-holder{
    margin-right: auto;
}

.logo{
    height: 60px;
    width: 60px;
    background-image: url(../images/Designer.png);
    background-size: contain;
    background-repeat: no-repeat;
    cursor: pointer;
    transition: all 0.2s ease-in;
}
.logo:hover{
    transform: scale(1.1);
}

.links-container{
    margin-right: 10px;
    /* border: 1px solid black; */
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

nav a{
    /* border: 1px solid black; */
    height: 100%;
    padding: 0 20px;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: var(--text-clr);
    transition: all 0.1s ease-in;
}
nav a:hover{
    background-color: var(--accent-clr);
    border-radius: 10px;
    box-shadow: var(--box-shadow-down);
    margin-bottom: 5px;
}
nav a:active{
    scale: 0.95;
}

nav .logo{
    margin-right: auto;
}

nav svg{
    fill: var(--text-clr);
}

#sidebar-active{
    display: none;
}

.open-sidebar-button, .close-sidebar-button{
    display: none;
}
@media(max-width:825px){
    .links-container{
        flex-direction: column;
        align-items: flex-start;

        position: fixed;
        top: 0;
        right: -100%;
        z-index: 10;
        width: 300px;
        
        /* background-color: var(--dark-blur-background-clr); */
        /* backdrop-filter: var(--blur-background); */
        background-color: var(--nav-clr);
        box-shadow: var(--box-shadow);
        transition: all 0.5s ease-out;

    }
    nav a{
        box-sizing: border-box;
        height: auto;
        width: 100%;
        padding: 20px;
        justify-content: flex-start;
    }
    nav .nav-reserve-button{
    padding: 10px 30px;
    border-radius: 50px;
    border: none;
    background-color: var(--accent-clr);
    cursor: pointer;
    transition: all 0.2s linear;
    align-self: center;
    }
    .open-sidebar-button, .close-sidebar-button{
        padding: 20px;
        display: block;
    }
    .open-sidebar-button{
        position: absolute
    }
    #sidebar-active:checked ~ .links-container{
        right: 0;
    }
    #sidebar-active:checked ~ #overlay{
        height: 100%;
        width: 100%;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 9;
    }
}

